<nav class="navbar navbar-light navbar-expand-md" id="navbar" style="background: var(--dark);color: var(--white);">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="color: var(--white);">TraffickCam</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: var(--white);">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="contact-us" style="color: var(--white);"><a class="nav-link active" href="#" style="color: var(--white);">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>