<div class="card shadow mb-4" id="map" style="height: 725px;">
    <div class="card-body" style="padding-top: 10px;">
        <div class="row" style="height: 5%;margin-bottom: 10px;">
            <div class="col"><button class="btn btn-outline-primary btn-sm" id="expand-map-btn" type="button" style="color: var(--gray-dark);border-color: var(--gray-dark);border-radius: 5px;margin-left: 99%;"></button></div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="90%"></iframe>
    </div>
</div>